@import "theme.css";

* {
    border: none;
    border-radius: 0;
    font-family: "DejaVuSansM Nerd Font";
    font-size: 14px;
    min-height: 28px;
}

#box.module button:hover {
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: @fg;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 12px 12px 0px 12px;
}

#custom-nixos {
    font-size: 20px;
    padding: 0px 6px 0px 10px;
    border-radius: 8px;
    margin-right: 12px;
    background: @bg-left;
}

#workspaces {
    padding: 0px 6px;
    border-radius: 8px;
    background: @bg-left;
}

#workspaces button:hover {
    color: @fg-left;
    background: transparent;
}

#workspaces button.active {
    font-weight: bold;
    color: @fg-left;
}

#workspaces button.urgent {
    font-weight: bold;
    color: @fg-right;
}

#clock {
    padding: 0px 24px;
    border-radius: 8px;
    background: @bg-middle;
}

#tray {
    padding: 0px 12px;
    border-radius: 8px;
    margin-right: 12px;
    background: @bg-right;
}

#pulseaudio {
    padding-left: 12px;
    padding-right: 12px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: @bg-right;
}

#network {
    padding-right: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: @bg-right;
}
