* {
    border: none;
    border-radius: 0;
    font-family: "DejaVuSansM Nerd Font";
    font-size: 14px;
}

#window {
    border: 2px solid #40344B;
    border-radius: 8px;
    background: #16121A;
    opacity: 0.6;
      margin: 5px 10px 15px;
      box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.3);
}

#input {
    font-size: 24px;
    font-weight: bold;
    margin: 4px;
    padding: 16px;
    background: #16121A;
}

#inner-box {
    border-top: 1px solid white;
    margin: 0px 12px;
    padding-top: 12px;
}

#entry {
    padding: 12px 24px;
    border-radius: 8px;
}

#entry:selected {
    background: #2A2331;
}

image {
    margin: 0px 12px;
}
